version: '3.8'

services:
  app:
    image: junghyeon13/springboot-app:${IMAGE_TAG}   # ⭐ SHA 기반 태그
    container_name: orderpay-app
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      WAIT_FOR_IT_TIMEOUT: "60"
    depends_on:
      elasticsearch:
        condition: service_healthy
      redis:
        condition: service_started
      redpanda:
        condition: service_started
    entrypoint: >
      sh -c "WAIT_FOR_IT_TIMEOUT=60 /app/wait-for-it.sh es-nori:9200 && java -jar /app/app.jar"
    networks:
      - infra_backend

  redpanda:
    image: redpandadata/redpanda:latest
    container_name: redpanda
    ports:
      - "9092:9092"
      - "9644:9644"
    command:
      - redpanda start
      - --overprovisioned
      - --smp 1
      - --memory 512M
      - --reserve-memory 0M
      - --node-id 0
      - --check=false
      - --kafka-addr PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:9092
    networks:
      - infra_backend

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    networks:
      - infra_backend

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.14
    container_name: es-nori
    environment:
      - node.name=es-node
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
      - http.host=0.0.0.0
    # ulimits:
    #   memlock:
    #     soft: -1
    #     hard: -1
    #   nofile:
    #     soft: 65536
    #     hard: 65536
    # privileged: true
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - infra_backend



volumes:
  esdata:
  redisdata:

networks:
  infra_backend:
    driver: bridge
