name: CI/CD - Auto Deploy (Self-hosted)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permission to gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set IMAGE_TAG
        run: echo "IMAGE_TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Check & Build Elasticsearch Image
        run: |
          if ! docker manifest inspect ${{ secrets.DOCKERHUB_USERNAME }}/es-nori:${GITHUB_SHA} >/dev/null 2>&1; then
            docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/es-nori:${GITHUB_SHA} ./src/main/resources/elasticsearch
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/es-nori:${GITHUB_SHA}
          fi

      - name: Check & Build Spring Boot App Image
        run: |
          if ! docker manifest inspect ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:${GITHUB_SHA} >/dev/null 2>&1; then
            docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:${GITHUB_SHA} .
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:${GITHUB_SHA}
          fi

      - name: Deploy to Server
        run: |
          cd /mnt/c/Users/jung0/test/order-payment-pipeline/infra
          echo "SPRING_DATASOURCE_USERNAME=${{ secrets.SPRING_DATASOURCE_USERNAME }}" > .env
          echo "SPRING_DATASOURCE_PASSWORD=${{ secrets.SPRING_DATASOURCE_PASSWORD }}" >> .env
          echo "MAIL_USERNAME=${{ secrets.MAIL_USERNAME }}" >> .env
          echo "MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }}" >> .env
          echo "IMAGE_TAG=${GITHUB_SHA}" >> .env

          chmod +x run_portfolio.sh
          sudo ./run_portfolio.sh
